<h1>Posts</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% Post.all.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.published %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>